web-application/node_modules/*
web-application/package-lock.json*
web-application/.idea/*


# Emacs backup files
/fabric-network/*~
/fabric-network/*#
/fabric-network/.#*
# Vim file artifacts
/fabric-network/.*.sw*
# installed platform-specific binaries
/fabric-network/bin
/fabric-network/config
/fabric-network/.DS_Store
/fabric-network/.project


/network-explorer/explorer_1/scripts/bower_components/
/network-explorer/explorer_1/webcontent
/network-explorer/node_modules/*
/network-explorer/client/node_modules/*
/network-explorer/app/test/node_modules/*
/network-explorer/.idea/*
/network-explorer/venv
/network-explorer/.vscode
/network-explorer/test/*
/network-explorer/tmp/*
/network-explorer/logs
/network-explorer/.log
/network-explorer/log.log
/network-explorer/fabric-docker-compose-svt/channel-artifacts
/network-explorer/fabric-docker-compose-svt/crypto-config
/network-explorer/first-network/channel-artifacts/*
/network-explorer/examples/*
/network-explorer/app/platform/fabric/gateway/wallet/*
/network-explorer/*.swp
/network-explorer/package-lock.json
