<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnocRAZe</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
    <link rel="icon" href="assets/img/fav.png">
</head>

<body style="background-image:url(&quot;assets/img/IT_3.jpg&quot;);background-size:cover;background-repeat:no-repeat;">
<nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="background-color:rgba(0,0,0,0.5);padding:0px;">
    <div class="container-fluid"><a class="navbar-brand" style="font-family:Cookie, cursive;font-size:36px;color:rgb(255,255,255);"><strong>Technoc</strong><span style="font-weight:bold;font-style:normal;color:rgb(83,131,211);">RAZ</span>e</a><button class="navbar-toggler" data-toggle="collapse"
                                                                                                                                                                                                                                                           data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="home.ejs" style="font-size:17px;font-weight:bold;color:rgb(255,255,255);">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="font-size:17px;color:rgb(255,255,255);"><strong>Product</strong>&nbsp;</a>
                    <div class="dropdown-menu" role="menu" style="background-color:rgba(0,0,0,0.5);/*color:rgba(0,0,0,0);*/">
                        <a class="dropdown-item" role="presentation" href="cthome.ejs" style="color:rgb(255,255,255);font-size:17px;"><strong>Clinical Trials</strong></a>
                        <a class="dropdown-item" role="presentation" href="dtlogintype.ejs" style="color:rgb(255,255,255);font-size:17px;"><strong>Drug Traceabilty</strong></a>
                    </div>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="about.ejs" style="font-size:17px;font-weight:bold;color:rgb(255,255,255);">About</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="contact.ejs" style="font-size:17px;font-weight:bold;color:rgb(255,255,255);">Contact Us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="firstpage.ejs" style="font-size:17px;font-weight:bold;color:rgb(255,255,255);">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<p style="color:rgb(255,255,255);padding-top:30px;"><span id="pageTitle" style="font-size:42px;padding-left:18px;"><strong><%=phase%></strong></span></p>
<form id="tiraldataform" style="padding:25px;" action="researchhomeapi">
    <div class="jumbotron" style="background-color:rgba(0,0,0,0.5);">
        <div class="col">


            <div class="form-row" style="width:500px;">
                <div class="col">
                    <p class="text-right" style="color:rgb(255,255,255);">Task ID</p>
                </div>
                <div class="col"><input class="form-control" name="para1" type="text"  style="background-color:rgb(255,255,255);color:rgb(0,0,0);"></div>
            </div>
            <div class="form-row" style="width:500px;">
                <div class="col">
                    <p class="text-right" style="color:rgb(255,255,255);">Report ID</p>
                </div>
                <div class="col"><input class="form-control" name="para2" type="text" required="" style="background-color:rgb(255,255,255);color:rgb(0,0,0);"></div>
            </div>

            <div class="form-row" style="width:500px;">
                <div class="col">
                    <p class="text-right" style="color:rgb(255,255,255);">Employee Identifier</p>
                </div>
                <div class="col"><input class="form-control" name="para4" type="text" required="" style="background-color:rgb(255,255,255);color:rgb(0,0,0);"></div>
            </div>
            <div class="form-row" style="width:500px;">
                <div class="col">
                    <p class="text-right" style="color:rgb(255,255,255);">File Path</p>
                </div>
                <div class="col"><input class="form-control" name="file" type="text" required="" style="background-color:rgb(255,255,255);color:rgb(0,0,0);"></div>
            </div>
        </div>
        <div class="col"><textarea  name="para5" class="form-control" required="" placeholder="scenario" style="width:800px;margin-top:13px;margin-left:167px;background-color:rgb(255,255,255);color:rgb(0,0,0);"></textarea></div>
        <div class="col"><textarea  name="para6" class="form-control" required="" placeholder="Report Summary" style="width:800px;margin-top:13px;margin-left:167px;background-color:rgb(255,255,255);color:rgb(0,0,0);"></textarea></div>
        <div class="col" style="margin-left:395px;margin-top:20px;"><button class="btn btn-success btn-lg" type="reset" style="width:100px;">Reset</button><button class="btn btn-success btn-lg" type="submit" onsubmit="addTrialData()" style="width:100px;margin-left:20px;">Submit</button></div>
    </div>
</form>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/addNewTrial.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>