<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnocRAZe</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
    <link rel="icon" href="assets/img/fav.png">
</head>

<body style="background-image:url(&quot;assets/img/IT_3.jpg&quot;);background-size:cover;background-repeat:no-repeat;">
<nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="background-color:rgba(0,0,0,0.5);padding:0px;">
    <div class="container-fluid"><a class="navbar-brand" style="font-family:Cookie, cursive;font-size:36px;color:rgb(255,255,255);"><strong>Technoc</strong><span style="font-weight:bold;font-style:normal;color:rgb(83,131,211);">RAZ</span>e</a><button class="navbar-toggler" data-toggle="collapse"
                                                                                                                                                                                                                                                           data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="home.ejs" style="font-size:17px;font-weight:bold;color:rgb(255,255,255);">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="font-size:17px;color:rgb(255,255,255);"><strong>Product</strong>&nbsp;</a>
                    <div class="dropdown-menu" role="menu" style="background-color:rgba(0,0,0,0.5);/*color:rgba(0,0,0,0);*/">
                        <a class="dropdown-item" role="presentation" href="cthome.ejs" style="color:rgb(255,255,255);font-size:17px;"><strong>Clinical Trials</strong></a>
                        <a class="dropdown-item" role="presentation" href="dtlogintype.ejs" style="color:rgb(255,255,255);font-size:17px;"><strong>Drug Traceabilty</strong></a>
                    </div>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="about.ejs" style="font-size:17px;font-weight:bold;color:rgb(255,255,255);">About</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="contact.ejs" style="font-size:17px;font-weight:bold;color:rgb(255,255,255);">Contact Us</a></li>
                <% if(login != "" || dtlogin != "") { %>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="firstpage.ejs" style="font-size:17px;font-weight:bold;color:rgb(255,255,255);">Log Out</a></li>
                <%}%>
                </ul>
            </div>
        </div>
    </nav>
    <div class="team-boxed" style="background-color:rgba(0,0,0,0.5);color:rgb(255,255,255);">
        <div class="container">
            <div class="intro" style="width:310px;background-color:rgba(0,0,0,0.5);">
                <h2 class="text-center" style="margin-left:10px;font-size:44px;height:66px;padding-top:0;width:280px;">Technoc<span style="color:rgb(83,131,211);">RAZ</span>e</h2>
            </div>
            <div class="row people" style="padding-top:0px;">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="assets/img/1.jpg">
                        <h3 class="name" style="color:rgb(0,0,0);">Roopak S</h3>
                        <p class="title" style="color: #6c757d">Network Designer</p>
                        <div class="social-links social-icons">
                            <a href="https://www.linkedin.com/in/roopak-srinivasan/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/roopak.srinivasan" target="_blank"><i class="fa fa-facebook-official"></i></a>
                            <a href="https://www.instagram.com/roopak1997/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                        <h3 class="name" style="color:rgb(0,0,0);">Sai Ashish Das</h3>
                        <p class="title" style="color: #6c757d">Frontend Developer</p>
                        <div class="social-links social-icons">
                            <a href="https://www.linkedin.com/in/sai-ashish-das/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/sadmadestyle" target="_blank"><i class="fa fa-facebook-official"></i></a>
                            <a href="https://www.instagram.com/sad_made_style/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img class="rounded-circle" src="assets/img/3.jpg">
                        <h3 class="name" style="color:rgb(0,0,0);">Zeeshan Hameed</h3>
                        <p class="title" style="color: #6c757d">System Architect</p>
                        <div class="social-links social-icons">
                            <a href="https://www.linkedin.com/in/zee-hameed/" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.facebook.com/zeeshu.hameed" target="_blank"><i class="fa fa-facebook-official"></i></a>
                            <a href="https://www.instagram.com/zee_hameed/" target="_blank"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>