<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnocRAZe</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
    <link rel="icon" href="assets/img/fav.png">

</head>

<body>
    <div>
        <div class="header-dark" style="background-image:url(&quot;assets/img/IT_3.jpg&quot;);">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="background-color:rgba(0,0,0,0.5);padding:0px;">
                <div class="container-fluid"><a class="navbar-brand" style="font-family:Cookie, cursive;font-size:36px;color:rgb(255,255,255);"><strong>Technoc</strong><span style="font-weight:bold;font-style:normal;color:rgb(83,131,211);">RAZ</span>e</a><button class="navbar-toggler"
                        data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item" role="presentation"><a class="nav-link" href="home.ejs" style="font-size:17px;font-weight:bold;color:rgb(255,255,255);">Home</a></li>
                            <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="font-size:17px;color:rgb(255,255,255);"><strong>Product</strong>&nbsp;</a>
                                <div class="dropdown-menu" role="menu" style="background-color:rgba(0,0,0,0.5);/*color:rgba(0,0,0,0);*/">
                                    <a class="dropdown-item" role="presentation" href="cthome.ejs" style="color:rgb(255,255,255);font-size:17px;"><strong>Clinical Trials</strong></a>
                                    <a class="dropdown-item" role="presentation" href="dtlogintype.ejs" style="color:rgb(255,255,255);font-size:17px;"><strong>Drug Traceabilty</strong></a>
                                </div>
                            </li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="about.ejs" style="font-size:17px;font-weight:bold;color:rgb(255,255,255);">About</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="contact.ejs" style="font-size:17px;font-weight:bold;color:rgb(255,255,255);">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
<!--            <div id="data"> %= variable></div>-->
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="jumbotron" style="background-color:rgba(0,0,0,0.5);margin-left: 50px;margin-right: 50px">
                <h1 class="text-left" style="color:rgb(254,255,255);"><strong><em>DECENTRALIZED</em></strong><br><strong><em>MANAGEMENT OF</em></strong><br><strong><em>CLINICAL&nbsp;TRIALS&nbsp;</em></strong><br><strong><em>AND DRUG TRACEABILITY</em></strong><br></h1>
                <p class="text-right"><a class="btn btn-primary float-left" role="button" href="firstpage.ejs"><strong>GET STARTED</strong></a></p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

    </div>
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="#">Technoc<span style="font-weight:bold;font-style:normal;">RAZ</span>e</a></h3>
                <p class="links"><a href="home.ejs">Home</a><strong> · </strong><a href="about.ejs">About</a><strong> ·&nbsp;</strong><a href="contact.ejs">Contact</a></p>
                <p class="company-name">TechnocRAZe © 2019</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><a href="https://www.google.com/maps/place/Ramaiah+Institute+of+Technology/@13.0304839,77.5648666,15z/data=!4m5!3m4!1s0x0:0x6075bd8d8aed97ab!8m2!3d13.0304619!4d77.5646862" target="_blank"><span class="new-line-span" style="color:rgb(255,255,255);">M S Ramaiah Institute of Technology<br></span></a>                        Bangalore, INDIA</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +91 85533 60141</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p>support.technocraze@gmail.com&nbsp;</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p> A Company to revolutionize the life cycle of medicine </p>
                        <div class="social-links social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>